{
  "openapi": "3.0.3",
  "info": {
    "title": "Gestor Financeiro API",
    "version": "1.0.0",
    "description": "API REST da conta de demonstração do Gestor Financeiro, publicada no ORDS.\n\nA leitura não exige autenticação. A escrita exige OAuth2 com client credentials, aceita até 100 lançamentos por dia e os dados da conta são restaurados toda madrugada.\n\nEnvie `Accept: application/json`: sem ele, erros gerados pelo próprio ORDS, como o 401, podem voltar em HTML.",
    "contact": {
      "name": "Cleiton Cruz",
      "url": "https://github.com/cleitonrcruz/gestor-financeiro-apex"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/cleitonrcruz/gestor-financeiro-apex/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://gd9477458323ab8-gestorfin.adb.sa-saopaulo-1.oraclecloudapps.com/ords/gestor_financeiro/v1"
    }
  ],
  "tags": [
    {
      "name": "Lançamentos",
      "description": "Consulta e criação de lançamentos da conta de demonstração."
    },
    {
      "name": "Consulta",
      "description": "Categorias e indicadores."
    },
    {
      "name": "Contrato",
      "description": "Este documento."
    }
  ],
  "paths": {
    "/lancamentos": {
      "get": {
        "tags": [
          "Lançamentos"
        ],
        "operationId": "listarLancamentos",
        "summary": "Lista lançamentos",
        "description": "Paginação por keyset, em ordem decrescente de data de competência e id. Para a próxima página, envie em `cursor` o valor de `next` da resposta anterior.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Itens por página. Acima de 100, usa 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Posição devolvida em `next`, no formato AAAAMMDD-id.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{8}-[0-9]+$",
              "example": "20260920-6526"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de lançamentos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginaLancamentos"
                },
                "example": {
                  "items": [
                    {
                      "id": 6520,
                      "tipo": "DPF",
                      "descricao": "Cinema e restaurante",
                      "valor": 185,
                      "categoria": "Lazer",
                      "origem": null,
                      "forma_pagamento": "CREDITO_VISTA",
                      "data_competencia": "2026-09-23",
                      "data_caixa": null,
                      "realizado": false
                    }
                  ],
                  "count": 1,
                  "next": "20260923-6520"
                }
              }
            }
          },
          "400": {
            "description": "Cursor fora do formato. Códigos: CURSOR_INVALIDO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 400,
                  "detail": "...",
                  "code": "CURSOR_INVALIDO"
                }
              }
            }
          },
          "500": {
            "description": "Falha inesperada. Códigos: ERRO_INTERNO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 500,
                  "detail": "...",
                  "code": "ERRO_INTERNO"
                }
              }
            }
          }
        }
      }
    },
    "/lancamentos/{id}": {
      "get": {
        "tags": [
          "Lançamentos"
        ],
        "operationId": "obterLancamento",
        "summary": "Obtém um lançamento",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 6520
          }
        ],
        "responses": {
          "200": {
            "description": "Lançamento.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LancamentoDetalhe"
                },
                "example": {
                  "id": 6520,
                  "tipo": "DPF",
                  "descricao": "Cinema e restaurante",
                  "valor": 185,
                  "categoria": "Lazer",
                  "origem": null,
                  "forma_pagamento": "CREDITO_VISTA",
                  "data_competencia": "2026-09-23",
                  "data_caixa": null,
                  "realizado": false,
                  "observacoes": null
                }
              }
            }
          },
          "400": {
            "description": "Id não numérico. Códigos: ID_INVALIDO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 400,
                  "detail": "...",
                  "code": "ID_INVALIDO"
                }
              }
            }
          },
          "404": {
            "description": "Lançamento inexistente ou de outra conta. Códigos: NAO_ENCONTRADO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 404,
                  "detail": "...",
                  "code": "NAO_ENCONTRADO"
                }
              }
            }
          },
          "500": {
            "description": "Falha inesperada. Códigos: ERRO_INTERNO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 500,
                  "detail": "...",
                  "code": "ERRO_INTERNO"
                }
              }
            }
          }
        }
      }
    },
    "/categorias": {
      "get": {
        "tags": [
          "Consulta"
        ],
        "operationId": "listarCategorias",
        "summary": "Lista categorias",
        "description": "Categorias aceitas no `categoria_id` da criação. O tipo da categoria precisa ser o mesmo do lançamento.",
        "responses": {
          "200": {
            "description": "Categorias.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaCategorias"
                },
                "example": {
                  "items": [
                    {
                      "id": 9,
                      "nome": "Lazer",
                      "tipo": "DPF"
                    },
                    {
                      "id": 2,
                      "nome": "Pró-labore",
                      "tipo": "R"
                    }
                  ],
                  "count": 2
                }
              }
            }
          },
          "500": {
            "description": "Falha inesperada. Códigos: ERRO_INTERNO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 500,
                  "detail": "...",
                  "code": "ERRO_INTERNO"
                }
              }
            }
          }
        }
      }
    },
    "/resumo": {
      "get": {
        "tags": [
          "Consulta"
        ],
        "operationId": "obterResumo",
        "summary": "Indicadores do período",
        "description": "Realizado são os lançamentos com data de caixa; previsto, os que ainda não têm. Sem parâmetros, usa o mês corrente.",
        "parameters": [
          {
            "name": "de",
            "in": "query",
            "description": "Início do período.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-09-01"
            }
          },
          {
            "name": "ate",
            "in": "query",
            "description": "Fim do período, inclusive.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-09-30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicadores.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resumo"
                },
                "example": {
                  "periodo": {
                    "de": "2026-09-01",
                    "ate": "2026-09-30"
                  },
                  "receitas": 13450,
                  "despesas": {
                    "pf": 7626.35,
                    "pj": 1033
                  },
                  "saldo": 4790.65,
                  "realizado": {
                    "receitas": 13450,
                    "despesas": 7934.35
                  },
                  "previsto": {
                    "receitas": 0,
                    "despesas": 725
                  },
                  "lancamentos": 16
                }
              }
            }
          },
          "422": {
            "description": "Data fora do formato ou da faixa aceita, ou período invertido. Códigos: DATA_INVALIDA, PERIODO_INVALIDO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 422,
                  "detail": "...",
                  "code": "DATA_INVALIDA"
                }
              }
            }
          },
          "500": {
            "description": "Falha inesperada. Códigos: ERRO_INTERNO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 500,
                  "detail": "...",
                  "code": "ERRO_INTERNO"
                }
              }
            }
          }
        }
      }
    },
    "/ingest/lancamentos": {
      "post": {
        "tags": [
          "Lançamentos"
        ],
        "operationId": "criarLancamento",
        "summary": "Cria um lançamento",
        "description": "Grava na conta de demonstração. Reenviar com a mesma `Idempotency-Key` devolve o lançamento já gravado, com `200` e `Idempotent-Replay: true`, sem criar outro.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Identificador único do envio. Até 100 caracteres.",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "example": "3f1c2a9e-7b4d-4e11-9a0c-5d2e8f6b1a47"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NovoLancamento"
              },
              "example": {
                "tipo": "DPF",
                "descricao": "Assinatura de streaming",
                "valor": 39.9,
                "data_competencia": "2026-09-21",
                "categoria_id": 9,
                "forma_pagamento": "CREDITO_VISTA"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lançamento criado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LancamentoDetalhe"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "URL do lançamento criado.",
                "schema": {
                  "type": "string"
                }
              },
              "Idempotent-Replay": {
                "description": "`false`.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "Chave já usada: devolve o lançamento gravado no primeiro envio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LancamentoDetalhe"
                }
              }
            },
            "headers": {
              "Idempotent-Replay": {
                "description": "`true`.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Cabeçalho ausente ou inválido, ou corpo que não é JSON. Códigos: IDEMPOTENCY_KEY_AUSENTE, IDEMPOTENCY_KEY_LONGA, CORPO_INVALIDO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 400,
                  "detail": "...",
                  "code": "IDEMPOTENCY_KEY_AUSENTE"
                }
              }
            }
          },
          "401": {
            "description": "Sem token ou token inválido. Gerado pelo ORDS, antes da API.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroOrds"
                }
              }
            }
          },
          "422": {
            "description": "Campo inválido. Códigos: TIPO_INVALIDO, DESCRICAO_AUSENTE, DESCRICAO_LONGA, VALOR_INVALIDO, DATA_COMPETENCIA_INVALIDA, DATA_CAIXA_INVALIDA, OBSERVACOES_LONGA, FORMA_PAGAMENTO_INVALIDA, CATEGORIA_INVALIDA.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 422,
                  "detail": "...",
                  "code": "TIPO_INVALIDO"
                }
              }
            }
          },
          "429": {
            "description": "Cota diária de 100 escritas atingida. Códigos: COTA_DIARIA.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 429,
                  "detail": "...",
                  "code": "COTA_DIARIA"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Segundos até tentar de novo.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Falha inesperada. Códigos: ERRO_INTERNO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 500,
                  "detail": "...",
                  "code": "ERRO_INTERNO"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Contrato"
        ],
        "operationId": "obterContrato",
        "summary": "Este documento",
        "responses": {
          "200": {
            "description": "Contrato OpenAPI da API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Falha inesperada. Códigos: ERRO_INTERNO.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Erro"
                },
                "example": {
                  "type": "https://github.com/cleitonrcruz/gestor-financeiro-apex#erros",
                  "title": "...",
                  "status": 500,
                  "detail": "...",
                  "code": "ERRO_INTERNO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "Client credentials. O cliente de demonstração está no README.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://gd9477458323ab8-gestorfin.adb.sa-saopaulo-1.oraclecloudapps.com/ords/gestor_financeiro/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "Lancamento": {
        "type": "object",
        "required": [
          "id",
          "tipo",
          "descricao",
          "valor",
          "data_competencia",
          "realizado"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tipo": {
            "type": "string",
            "enum": [
              "R",
              "DPF",
              "DPJ"
            ],
            "description": "R receita, DPF despesa pessoa física, DPJ despesa pessoa jurídica."
          },
          "descricao": {
            "type": "string"
          },
          "valor": {
            "type": "number"
          },
          "categoria": {
            "type": "string"
          },
          "origem": {
            "type": "string",
            "nullable": true
          },
          "forma_pagamento": {
            "type": "string",
            "nullable": true,
            "enum": [
              "DINHEIRO",
              "PIX",
              "DEBITO",
              "CREDITO_VISTA",
              "CREDITO_PARC",
              "BOLETO",
              "TED",
              null
            ]
          },
          "data_competencia": {
            "type": "string",
            "format": "date"
          },
          "data_caixa": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Nula enquanto o lançamento é só previsto."
          },
          "realizado": {
            "type": "boolean"
          }
        }
      },
      "LancamentoDetalhe": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Lancamento"
          },
          {
            "type": "object",
            "properties": {
              "observacoes": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "PaginaLancamentos": {
        "type": "object",
        "required": [
          "items",
          "count",
          "next"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lancamento"
            }
          },
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "Cursor da próxima página. Nulo na última."
          }
        }
      },
      "Categoria": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nome": {
            "type": "string"
          },
          "tipo": {
            "type": "string",
            "enum": [
              "R",
              "DPF",
              "DPJ"
            ]
          }
        }
      },
      "ListaCategorias": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Categoria"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "Valores": {
        "type": "object",
        "properties": {
          "receitas": {
            "type": "number"
          },
          "despesas": {
            "type": "number"
          }
        }
      },
      "Resumo": {
        "type": "object",
        "properties": {
          "periodo": {
            "type": "object",
            "properties": {
              "de": {
                "type": "string",
                "format": "date"
              },
              "ate": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "receitas": {
            "type": "number"
          },
          "despesas": {
            "type": "object",
            "properties": {
              "pf": {
                "type": "number"
              },
              "pj": {
                "type": "number"
              }
            }
          },
          "saldo": {
            "type": "number"
          },
          "realizado": {
            "$ref": "#/components/schemas/Valores"
          },
          "previsto": {
            "$ref": "#/components/schemas/Valores"
          },
          "lancamentos": {
            "type": "integer"
          }
        }
      },
      "NovoLancamento": {
        "type": "object",
        "required": [
          "tipo",
          "descricao",
          "valor",
          "data_competencia",
          "categoria_id"
        ],
        "properties": {
          "tipo": {
            "type": "string",
            "enum": [
              "R",
              "DPF",
              "DPJ"
            ]
          },
          "descricao": {
            "type": "string",
            "maxLength": 255
          },
          "valor": {
            "type": "number",
            "exclusiveMinimum": true,
            "minimum": 0,
            "maximum": 1000000000000,
            "exclusiveMaximum": true
          },
          "data_competencia": {
            "type": "string",
            "format": "date"
          },
          "data_caixa": {
            "type": "string",
            "format": "date",
            "description": "Informe para gravar já como realizado. Formato AAAA-MM-DD."
          },
          "categoria_id": {
            "type": "integer",
            "description": "Categoria de /categorias, do mesmo tipo do lançamento."
          },
          "forma_pagamento": {
            "type": "string",
            "enum": [
              "DINHEIRO",
              "PIX",
              "DEBITO",
              "CREDITO_VISTA",
              "CREDITO_PARC",
              "BOLETO",
              "TED"
            ]
          },
          "observacoes": {
            "type": "string",
            "maxLength": 2000
          }
        }
      },
      "Erro": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "Código estável para tratar no cliente."
          }
        }
      },
      "ErroOrds": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        }
      }
    }
  }
}
